%div{:class => "lightbox", :id => @report.id}
  %strong Flag this report
  /= render :partial => 'main/how_to_flag'
  = form_for(@flag, url: { controller: 'main', action: 'add_flag', id: @report.id }, html: { class: 'partial-replacer-remote' }, data: { partial_replacer_invalid: "#report-#{@report.id} .placeholder", partial_replacer_success: "#report-#{@report.id}" }) do |f|
    = error_messages_for :flag
    /%p
    /  = text_area :flag, :comment, :rows => 5, :cols => 47, :id => "box_#{@report.id}"
    %p
      = f.radio_button :comment, "profanity"
      profanity
      %br/
      = f. radio_button :comment, "directly insults worker or requester"
      directly insults worker or requester
      %br/
      = f.radio_button :comment, "racism"
      racism
      %br/
      = f.radio_button :comment, "threat/incitement to violence"
      threat/incitement to violence
      %br/
      = f.radio_button :comment, "review incorrectly claims TOS violation"
      review incorrectly claims TOS violation
      %br/
      = f.radio_button :comment, "possible requester self-review"
      possible requester self-review
      %br/
      = f.radio_button :comment, "otherwise suspicious review; see reviewer's other reviews"
      otherwise suspicious review; see reviewer's other reviews
      %br/
      = f.radio_button :comment, "not a review for this requester/irrelevant"
      not a review for this requester/irrelevant
      %br/
      = f.radio_button :comment, "discloses screener"
      discloses screener
      %br/
      = f.radio_button :comment, "other"
      other
      &nbsp;
      = f.text_field :other_explanation, value: @other_explanation, placeholder: "explanation for 'other', min. 20 chars, max. 500", size: 40
    = submit_tag "Flag Report"
    = link_to 'Cancel', '#', class: 'partial-replacer-clear', data: { partial_replacer_clear: "#report-#{@report.id} .placeholder" }
