%tr
  %td{:valign => "top"}
    - rid = requester.amzn_requester_id.nil? ? requester.id : requester.amzn_requester_id
    .strong= link_to h(requester.amzn_requester_name), :controller => "main", :action => "index", :id => rid
    = h(requester.amzn_requester_id)
    - unless requester.amzn_requester_id.nil?
      %br/
      = link_to "Requester on AMT &raquo;".html_safe, "https://worker.mturk.com/requesters/#{requester.amzn_requester_id}/projects"
  %td{:valign => "top"}
    - for a,v in requester.avg_attrs
      .smlabel #{a}:
      #{Requester.attr_vis(v)}&nbsp;
      - if v == 0
        no&nbsp;data
      - else
        #{'%0.02f' % v}&nbsp;/&nbsp;5
      %br/
    %br/
  %td{:valign => "top"}
    %b
      .smlabel Pay/hr:
    - if requester.bucket_counts.empty?
      .smlabel no&nbsp;data
    - else
      %br/
      - requester.bucket_counts.each do |a,v|
        .smlabel #{a}:
        #{Requester.pay_vis(a, requester.bucket_counts)}&nbsp;
        %span.smlabel= v
        %br/
  %td{:align => "center", :valign => "top"}= requester.reports.length
  %td{:valign => "top"}
    - if session[:person_id] and Person.find(session[:person_id])
      - r = Report.find_by_person_id_and_requester_id(session[:person_id], requester.id)
      - unless r.nil?
        = link_to "update my report", :controller => "main", :action => "edit_report", :id => r.id
