:javascript
  window.onload = () => {
    console.log('window on load');
    buckets_info_button = document.getElementById('buckets_info_button');
    buckets_info_text = document.getElementById('buckets_info_text');
    buckets_info_hide = document.getElementById('buckets_info_hide');
    buckets_info_button.addEventListener('click', (event) => {
      if (buckets_info_text.style.display == 'none') {
        buckets_info_text.style.display = 'inline-block';
      } else {
        buckets_info_text.style.display = 'none';
      }
    })
    buckets_info_hide.addEventListener('click', (event) => {
        buckets_info_text.style.display = 'none';
    })
  }


%p#advisory
  Please see our information about <a href="#howto">How to Review</a> if you are new!
.box
  = error_messages_for :report
  = error_messages_for :requester
  %p
    <a name="mainbox"></a>
  %p#advisory_reverse
    %strong Please note:
    Your review may take up to 20 minutes to be included in the averages displayed by the extensions.
  = form_tag(:action => 'add_report') do
    %p
      .label HIT ID
      = text_field :report, :hit_id
      (optional)
    %p
      .label.red HIT Name(s)
      = text_field :report, :hit_names
      (separate with semicolons)
    %p
      .label ToS violator?
      = check_box :report, :tos_viol
      HIT violates Amazon Terms of Service. 
      %br
      .label &nbsp; 
      (A HIT violates ToS under <a href="https://www.mturk.com/mturk/help?helpPage=policies#violation_examples" style="text-decoration:underline">specific conditions</a>, not just because you're mad.)
    %p
      .label Requester Name
      = text_field :requester, :amzn_name, :value => params[:requester].nil? ? "" : params[:requester][:amzn_name].nil? ? "" : params[:requester][:amzn_name].gsub("%20", " ")
    %p
      .label Requester ID
      = text_field :requester, :amzn_id, :value => params[:requester].nil? ? "" : params[:requester][:amzn_id]
      (required)
    %p
      .label How many HITs have you done for this requester?
      = select :report, :how_many_hits, Report.how_many_hits_ranges
    %p
      %strong If you did a HIT for this requester, was your work rejected?
      %br/
      = radio_button :report, :rejected, "yes"
      Yes, all rejected
      %br/
      = radio_button :report, :rejected, "some"
      Some rejected
      %br/
      = radio_button :report, :rejected, "no"
      No, all approved or pending
      %br/
      = radio_button :report, :rejected, "n/a"
      N/A, all still pending or I didn't do any HITs for this requester
    %p
      %hr
        %p{:id => "buckets_info_text", :style => "display: none"} 
          After careful consideration we've decided to temporarily implement pay brackets in place of the current 1-5 scale rating for pay. The current rating system doesn't take into account workers being spread across the globe and other various influences that affect judgement of pay. We hope this will help workers better determine hits they want to do, and remove the frustration some workers were experiencing with the pay ratings in the past.
          %a{:id => "buckets_info_hide", :style => "color: red; cursor: pointer;"} [hide]
        %strong Estimated rate per hour for a hit
        %a{:id => "buckets_info_button", :style => "color: red; cursor: pointer;"} [What's this?]
        - for p in Report.pay_buckets
          =radio_button :report, "pay_bucket", p
          =label_tag p
        =radio_button :report, "pay_bucket", "n/a"
        %label_tag N/A
      %hr
    %p
      %strong Rate this requester on the following qualities, with 1 being worst among requesters you've had experience with and 5 being best among requesters you've had experience with:
    %table{:cellspacing => "0", :cellpadding => "2"}
      %tr
        %td &nbsp;
        - for i in [*1..5]
          %td.radioheader= i.to_s
        %td.radioheader <span class="red"><strong>N/A</strong></span>
      - for a in Report.requester_attrs
        %tr
          %td= Report.question(a)
          - for i in [*1..5]
            %td= radio_button :report, a.to_sym, i
          %td= radio_button :report, a.to_sym, 0
    %p
      %strong Please briefly describe your experience with this requester:
      %br/
      = text_area :report, :description, :style => "width: 100%; height: 10em"
    - if params[:url] and params[:url][:url]
      - url = params[:url][:url]
    - elsif params[:url]
      - url = params[:url]
    - else
      - url = "https://www.mturk.com/mturk/findhits?match=false"
    - url = url.split("url")[url.split("url").length - 1]
    = hidden_field :url, :url, :value => url
    - if params[:onebombbox]
      = check_box :onebomb, :onebomb
      &nbsp;
      I am rating "all 1s". My HIT has been approved or rejected, and I tried to communicate with the requester.
    %p
      %div{:style => "text-align: right; width: 26em;"}= submit_tag 'Report'
    %br/
  = render :partial => 'main/how_to_review'
