%h1 Comment on Report

.report
  %p
    %strong.label AMT Requester Name &amp; ID
    = @report.requester_amzn_name + " (" + @report.requester_amzn_id + ")"
  %p
    %strong.label Description
    - if !@report.description.nil?
      = h(@report.description.censor).gsub(/\r\n/,"<br/>")
  %p
    %strong.label Posted On
    = @report.created_at.strftime("%b %d %Y")

- if !@report.locked_until.nil? and @report.locked_until > Time.now
  %p#advisory This review is temporarily locked. It cannot be commented on right now.
- else
  = error_messages_for :comment
  = form_tag(:action => 'add_comment') do
    = hidden_field :comment, :report_id, :value => @report.id
    = hidden_field :comment, :person_id, :value => session[:person_id]
    %br/
    = text_area :comment, :body, :style => "width: 100%; height: 10em"
    %p
      %div{:style => "text-align: right; width: 26em;"}= submit_tag 'Submit Comment'
