%p#advisory
  These requesters have been reviewed in the last five days.

%br/
.box
  %p
    %table#reports{ :cellpadding => "4", :cellspacing => "0" }
      %tr.th
        %th{:width => "25%"}
          AMT Req Name &amp; ID
          = link_to '&#9650;'.html_safe, controller: 'main', action: 'requesters'
          = link_to '&#9660;'.html_safe, controller: 'main', action: 'requesters', order: 'amzn_requester_name DESC'
        %th{:width => "30%"}
          Ratings <span style="font-weight: normal;">[#{link_to '?', { controller: 'main', action: 'help', anchor: 'attr' }, style: 'color: #fff; text-decoration: underline;'}]</span> (averaged)
          = link_to '&#9650;'.html_safe, controller: 'main', action: 'requesters', order: 'ava ASC'
          = link_to '&#9660;'.html_safe, controller: 'main', action: 'requesters', order: 'ava DESC'
        %th{:width => "28%"} &nbsp;
        %th{:width => "18%"}
          \# Reports
          = link_to '&#9650;'.html_safe, controller: 'main', action: 'requesters', order: 'nrs ASC'
          = link_to '&#9660;'.html_safe, controller: 'main', action: 'requesters', order: 'nrs DESC'
        %th
      = render :partial => 'main/requester', :collection => @requesters
  .pagination= will_paginate @requesters
