= error_messages_for current_user

= form_for current_user, as: :person do |f|
  %p
    Change email for
    %strong= current_user.email
    to
    %br/
    = f.text_field :email

  /%p
  /  Confirm
  /  %br/
  /  = f.text_field :email_confirmation

  %p
    = submit_tag "Change my email"
