%h2 Dashboard

%strong Users:
= @user_count
%br/

%strong New users (last month):
= @new_user_count
%br/

%strong Active users (last month):
= @active_user_count
%br/

%strong Reviews:
#{@report_count} of #{@requester_count} requesters
%br/

%strong Recent reviews (last month):
#{@recent_report_count} by #{@author_count} reviewers
%br/

%p
  %strong Reviewers (last month):
  %br/
  - @authors_with_counts.each do |author|
    #{link_to author[0][1], controller: 'main', action: 'reports_by', id: author[0][0]} (#{author[1]}),

%p
  %strong Recent flags (last month):
  %br/
  - @recently_flagged_reports.each do |rid|
    #{link_to rid, controller: 'main', action: 'report', id: rid},

%p
  %strong Flaggers (last month):
  %br/
  - @ordered_flaggers.each do |pid, fc|
    #{link_to pid, controller: 'main', action: 'flagged_by', id: pid}&nbsp;(#{fc}),
