.lightbox{:id => @report.id}
  = form_tag("/mod/comment/#{@report.id}", class: 'partial-replacer-remote', data: { partial_replacer_invalid: "#report-#{@report.id} .placeholder", partial_replacer_success: "#report-#{@report.id}" }) do
    = error_messages_for :comment
    = text_area :comment, :body
    %br/
    = submit_tag "Post Comment"
    = link_to "Cancel", '#', class: 'partial-replacer-clear', data: { partial_replacer_clear: "#report-#{@report.id} .placeholder" }
