.lightbox{:id => @report.id}
  = form_tag({ controller: 'mod', action: 'flag', id: @report.id }, class: 'partial-replacer-remote', data: { partial_replacer_invalid: "#report-#{@report.id} .placeholder", partial_replacer_success: "#report-#{@report.id}" }) do
    = error_messages_for :flag
    = radio_button :flag, :comment, "profanity"
    profanity
    %br/
    = radio_button :flag, :comment, "directly insults worker or requester"
    directly insults worker or requester
    %br/
    = radio_button :flag, :comment, "racism"
    racism
    %br/
    = radio_button :flag, :comment, "threat/incitement to violence"
    threat/incitement to violence
    %br/
    = radio_button :flag, :comment, "review incorrectly claims TOS violation"
    review incorrectly claims TOS violation
    %br/
    = radio_button :flag, :comment, "possible requester self-review"
    possible requester self-review
    %br/
    = radio_button :flag, :comment, "otherwise suspicious review; see reviewer's other reviews"
    otherwise suspicious review; see reviewer's other reviews
    %br/
    = radio_button :flag, :comment, "not a review for this requester/irrelevant"
    not a review for this requester/irrelevant
    %br/
    = radio_button :flag, :comment, "other"
    other
    &nbsp;
    = text_field :flag, :other_explanation, value: @other_explanation, placeholder: "explanation for 'other', min. 20 chars, max. 500", size: 40
    %br/
    = submit_tag "Flag Report"
    = link_to "Cancel", '#', class: 'partial-replacer-clear', data: { partial_replacer_clear: "#report-#{@report.id} .placeholder" }
