- if @location == "about"
  About&nbsp;
- else
  = link_to "About", :controller => "main", :action => "info"
  &nbsp;
- if @location == "rules"
  Rules
- else 
  = link_to "Rules", :controller => "main", :action => "rules"
&nbsp;
= link_to "FAQ", "/faq/index.html"
&nbsp;
= link_to "BLOG", "https://blog.turkopticon.net", target: "_blank"
&nbsp;
= link_to "REVIEW", "/report"
&nbsp;
= link_to "DONATE", "/donate", target: "_blank"
